.dashboardPage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  padding: 0.5rem;
  box-sizing: border-box;
  background-color: var(--background);
}

.backContainer {
  display: flex;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.name:global(.MuiTypography-root) {
  color: var(--title-text);
  font-size: 1.5rem;
  font-weight: 600;
}

.footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  & :global(.MuiButton-root) {
    height: 35px;
  }
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 70%;
  align-items: center;
  justify-content: center;
}

.sessionContainer {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px 0px #00000040;
  border: 4px solid #3e67b9;
  border-radius: 15px;
  padding: 1rem;
  align-items: center;
  gap: 0.5rem;
  overflow-y: auto;
  width: 50%;
  max-height: 200px;
  height: 100%;

  &:has(:only-child) {
    justify-content: center;
  }
}

.sessionBlock:global(.MuiButton-root) {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #f6faf3;
  border-radius: 8px;
  width: 100%;
  min-height: fit-content;
  box-sizing: border-box;
  padding: 0.5rem;
  align-items: flex-start;

  & :global(.MuiTypography-root) {
    color: #3e67b9;
    font-weight: 600;
    font-family: "Kulim Park";
    font-size: 1rem;
  }

  &.selected {
    background-color: var(--title-text);

    & p {
      color: #fff !important;
    }
  }
}

.noSessions:global(.MuiTypography-root) {
  color: var(--title-text);
  font-size: 2rem;
  font-weight: 500;
}
