.resultsPage {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--background);
  padding-bottom: 0;
}

.topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;

  & :global(.MuiButton-root) {
    height: 35px;
  }
}

.podiumWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 0.5rem;
  height: 100%; /* Adjust based on your layout */
  width: 100%;
}

.podiumContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  animation: springUp 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;

  & svg {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
  }
}

.podiumContainer:nth-child(1) {
  animation-delay: 1.9s;
}
.podiumContainer:nth-child(2) {
  animation-delay: 2.2s;
}
.podiumContainer:nth-child(3) {
  animation-delay: 1.5s;
}

.podiumStand {
  display: flex;
  flex-direction: column;
  background-color: var(--paper-color);
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 100%;

  & .rank {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1;
    text-align: center;
    font-family: "Kulim Park";
  }

  & .choice {
    color: #fff;
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
    font-family: "Kulim Park";
  }
}

.podiumContainer[data-rank="1"] {
  height: 100%;
}

.podiumContainer[data-rank="1"] .podiumStand {
  width: 200px;
}

.podiumContainer[data-rank="2"] {
  height: 60%;
}

.podiumContainer[data-rank="2"] .podiumStand {
  width: 170px;
}

.podiumContainer[data-rank="3"] {
  height: 50%;
}

.podiumContainer[data-rank="3"] .podiumStand {
  width: 150px;
}

@keyframes springUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.revealContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

  & .subtitle {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1.5rem;
    font-family: "Kulim Park";
    text-align: center;
  }
}

.revealWrapper {
  display: flex;
  z-index: 1;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
}

.spiral {
  position: absolute;
  z-index: 2;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.revealButtonWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  & .title {
    font-weight: 700;
    font-family: "Madimi One";
    color: #fff;
    font-size: 1.75rem;
    text-align: center;
  }

  & .revealButton {
    border-radius: 50%;
    border: 3px solid #fff;
    width: 48px;
    height: 48px;
    color: #fff;
    background-color: var(--title-text);

    &:hover {
      background-color: var(--primary-color);
    }
  }
}

@media (max-width: 768px) {
  .podiumContainer[data-rank="1"] .podiumStand {
    width: 80px;
  }

  .podiumContainer[data-rank="2"] .podiumStand {
    width: 70px;
  }

  .podiumContainer[data-rank="3"] .podiumStand {
    width: 50px;
  }
}
