@import url("https://fonts.google.com/specimen/Kulim+Park");
@import url("https://fonts.google.com/specimen/Archivo+Black");

.hostContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  overflow-y: auto;
  min-height: 100vh;

  & .title:global(.MuiTypography-root) {
    font-weight: 600;
    font-size: 2rem;
    color: var(--primary-color);
    line-height: 1.5;
    letter-spacing: 0;
    text-align: center;

    font-family: "Kulim park", sans-serif;
  }
}

.nextContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 0.5rem;
  margin-top: 2.5rem;
}

.topicContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
  padding-top: 0;
  margin-top: -1rem;
  box-sizing: border-box;

  & .topic:global(.MuiTypography-root) {
    font-size: 400;
    color: var(--title-text);
    font-size: 2.5rem;
    font-family: "Madimi One", cursive;
  }
}
.dropdownContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  box-sizing: border-box;
}

.dropdown {
  border-radius: 16px !important;
  width: 100px;
  height: 45px;
}

.dropdownLabel {
  color: #fff;
  flex: 1;
}

.numberOfChoices:global(.MuiTypography-root) {
  font-size: 400;
  color: var(--title-text);
  font-size: 2rem;
  font-weight: 900;
  font-family: 'Kulim park', sans-serif;
}
.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  padding: 0 2rem;
  box-sizing: border-box;

  & :global(.MuiButton-root) {
    flex: 1;
    height: 180px;
    max-width: 180px;
    box-shadow: 0px 25px 0px 0px rgba(245, 216, 192, 0.2);
    background-color: #f6faf3;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;

    transition: all 0.2s;

    &:hover {
      box-shadow: 0px 25px 0px 0px #f5d8c0;
    }

    & :global(.MuiTypography-root) {
      font-size: 2rem;
      font-weight: 400;
      line-height: 1;
      color: var(--accent-color);
    }

    & svg {
      color: var(--accent-color);
    }

    & .everyoneIcon {
      width: 100px;
      height: 100px;
    }

    & .forMeIcon {
      width: 56px;
      height: 65px;
    }

    &.selected {
      background-color: #f8aa69;
      box-shadow: 0px 25px 0px 0px #f8aa69;

      & :global(.MuiTypography-root),
      & svg {
        color: white;
      }
    }
  }
}

.topicTextField {
  width: 60%;
}

@media (max-width: 768px) {
  .hostContainer {
    overflow-y: auto;
    align-items: flex-start;
    height: 100%;
    & .buttonContainer {
      flex-direction: column;
      padding: 0;
      & :global(.MuiButton-root) {
        width: 100%;
        max-width: unset;
        min-height: 200px;
        max-height: 200px;
      }
    }
  }

  .dropdownContainer {
    flex-direction: column;
    width: 100%;
    padding: 0;
    padding-top: 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    & .numberOfChoices {
      text-align: center;
    }
  }

  .footer {
    width: 100%;
    gap: 0.5rem;
    flex-direction: column;

    & :global(.MuiButton-root) {
      width: 100%;
    }
  }

  .dropdown {
    width: 100%;
  }
}
