@import url('https://fonts.google.com/specimen/Kulim+Park');
@import url('https://fonts.google.com/specimen/Archivo+Black');

.hostContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 1rem;
  width: 100vw;
  height: 100vh;
  gap: 1rem;
  background-color: var(--background);
  overflow-y: auto;

  & .title:global(.MuiTypography-root) {
    font-weight: 600;
    font-size: 2rem;
    color: var(--primary-color);
    line-height: 1.5;
    letter-spacing: 0;
    text-align: center;
    font-family: 'Kulim park', sans-serif;
  }
}

.topicContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;

  & .topic:global(.MuiTypography-root) {
    font-size: 400;
    color: var(--primary-color);
    font-size: 2rem;
    font-family: 'Archivo Black', sans-serif;
  }
  
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  padding: 0 2rem;
  box-sizing: border-box;

  & :global(.MuiButton-root) {
    flex: 1;
    height: 180px;
    max-width: 180px;
    box-shadow: 0px 25px 0px 0px #f5d8c0;
    background-color: #f6faf3;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;

    &:hover {
      background-color: #f8aa69;
      border: 5px solid #ffffff;

      & :global(.MuiTypography-root),
      & .everyoneIcon,
      & .forMeIcon {
        color: var(--light-color);
      }
    }

    & :global(.MuiTypography-root) {
      color: var(--accent-color);
      font-size: 2rem;
      font-weight: 400;
      line-height: 1;
      font-family: 'Archivo black', sans-serif;
    }

    & svg {
      color: #3e67b9;
    }

    & .everyoneIcon {
      width: 100px;
      height: 100px;
    }

    & .forMeIcon {
      width: 56px;
      height: 65px;
    }
  }
}
