.baseButton {
  border: 5px solid #f5d8c0;
  background-color: #f6faf3;
  border-radius: 10px;
  color: var(--accent-color);
  font-weight: 400;
  font-size: 1rem;

  &:hover {
    background-color: #f8aa69;
    border: 5px solid #ffffff;

    & :global(.MuiTypography-root),
    svg {
      color: var(--light-color);
    }
  }
}
