.rankingPage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  background-color: var(--background);
}

.rankingContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  gap: 1rem;
  overflow: hidden;
}

.title:global(.MuiTypography-root) {
  color: var(--title-text);
  font-size: clamp(2rem, 4vw, 3rem);
  font-weight: 600;
  text-align: center;
}

.subtitle:global(.MuiTypography-root) {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  max-width: fit-content;

  & svg {
    width: 100px;
    height: 100px;
  }

  & :global(.MuiButton-root) {
    height: 35px;
  }
}

.choiceContainer {
  display: flex;
  flex-direction: column;
  max-height: 430px;
  overflow-y: auto;
  gap: 1rem;
  align-items: center;
  width: 80%;
  padding: 0 2rem;
}

.choiceButton:global(.MuiButton-root) {
  color: var(--accent-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  overflow: visible;
  min-height: 50px;
  background-color: #fff;
  border-radius: 8px;

  &.selected {
    background-color: var(--title-text);
    color: #fff;
  }

  &:hover {
    background-color: #78a5ff;
    color: #fff;
  }
}

.rankBadge {
  position: absolute;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
  border: 4px solid #ffffff;
  width: 35px;
  height: 35px;
  border: 4px solid #fff;
  color: #000;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  z-index: 2;
}
