:root {
  --primary-color: #f5d8c0;
  --secondary-color: #bca0da;
  --accent-color: #3e67b9;
  --paper-color: #1c254b;
  --title-text: #f8aa69;
  --dark-text: black;
  --light-text: #fff;
  --error: #faa082;
  --background: #253164;
}

body {
  font-family:
    Inter,
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial;
  margin: 0;
  padding: 0;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard */
  font-size: 16px;
}

input,
textarea {
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

/* Firefox */
* {
  scrollbar-width: 50px;
  scrollbar-color: #f5d8c0 transparent;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 50px;
}

::-webkit-scrollbar-track {
  background: #1c2b5e;
}

::-webkit-scrollbar-thumb {
  background-color: #f5d8c0;
  border-radius: 10px;
  border: 2px solid #1c2b5e;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #bca0da;
}
