:root {
  --primary-color: #b490d6;
  --secondary-color: #b6e1fa;
  --accent-color: #3c4799;
  --dark-text: black;
  --light-text: #fdeac9;
  --error: #faa082;
  --background: #131f47;
}

body {
  font-family:
    Inter,
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial;
  margin: 0;
  padding: 0;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard */
}

input,
textarea {
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
