.revealPage {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--background);
  padding-bottom: 0;
}

.revealContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 75%;
  align-items: center;
  justify-content: center;

  & .subtitle {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1.5rem;
    font-family: "Kulim Park";
  }
}

.revealWrapper {
  display: flex;
  z-index: 1;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
}

.spiral {
  position: absolute;
  z-index: 2;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.revealButtonWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  & .title {
    font-weight: 700;
    font-family: "Madimi One";
    color: #fff;
    font-size: 1.75rem;
  }

  & .revealButton {
    border-radius: 50%;
    border: 3px solid #fff;
    width: 48px;
    height: 48px;
    color: #fff;
    background-color: var(--title-text);

    &:hover {
      background-color: var(--primary-color);
    }
  }
}

.thanksVoteContainer {
  background-color: var(--background);
  background-position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;

  & .contentContainer {
    color: var(--primary-color);
    width: 66.66%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 2rem;
    font-family: "Madimi One", cursive;
    text-align: center;

    .check {
      width: 96px;
      height: 96px;
    }
    .topic {
      font-size: 1rempx;
      color: #f8aa69;
      font-family: "Madimi One", cursive;
    }
    .waitMessage {
      font-size: 24px;
      color: var(--secondary-color);
      text-align: center;
    }
  }
}
.titleWrapper {
  width: 100%;
}
.backButton {
  color: #fff !important;
}
