.thanksVoteContainer {
  background-color: var(--background);
  background-position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;

  & .contentContainer {
    color: var(--primary-color);
    width: 66.66%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 2rem;
    font-family: "Madimi One", cursive;
    text-align: center;

    .check {
      width: 96px;
      height: 96px;
    }
    .topic {
      font-size: 1rempx;
      color: #f8aa69;
      font-family: "Madimi One", cursive;
    }
    .waitMessage {
      font-size: 24px;
      color: var(--secondary-color);
      text-align: center;
    }
  }
}
.titleWrapper {
  width: 100%;
}
.backButton {
  color: #fff !important;
}
